<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/head :: headPart"></div>
</head>
<body>
<div th:replace="fragments/nav :: navbar"></div>
<div class="container">
    <br>
    <h2>Register Student</h2>
    <br>
    <h4>Your identity:</h4>
    <br>
    <form th:action="@{/addStudent}" th:object="${studentDTOForm}" method="POST">

        <label>Your first name:</label>
        <input type="text" th:field="*{firstName}" name="firstName"
               class="form-control mb-4 col-4"/>
        <div th:fragment="validation-error">
            <div th:if="${#fields.hasErrors('firstName')}" class="alert alert-warning" th:errors="*{firstName}"></div>
        </div>

        <label>Your middle name (not required):</label>
        <input type="text" th:field="*{middleName}" name="middleName" class="form-control mb-4 col-4"/>
        <div th:fragment="validation-error">
            <div th:if="${#fields.hasErrors('middleName')}" class="alert alert-warning" th:errors="*{middleName}"></div>
        </div>

        <label>Your last name:</label>
        <input type="text" th:field="*{lastName}" name="lastName" class="form-control mb-4 col-4"/>
        <div th:fragment="validation-error">
            <div th:if="${#fields.hasErrors('lastName')}" class="alert alert-warning" th:errors="*{lastName}"></div>
        </div>

        <label>Your pesel:</label>
        <input type="text" th:field="*{pesel}" name="pesel" class="form-control mb-4 col-4"/>
        <div th:fragment="validation-error">
            <div th:if="${#fields.hasErrors('pesel')}" class="alert alert-warning" th:errors="*{pesel}"></div>
        </div>

        <label>Date of your birth:</label>
        <input type="date" th:field="*{dob}" name="dob" class="form-control mb-4 col-4"/>
        <div th:fragment="validation-error">
            <div th:if="${#fields.hasErrors('dob')}" class="alert alert-warning" th:errors="*{dob}"></div>
        </div>

        <div th:fragment="validation-error">
            <div th:if="${#fields.hasErrors('pesel')}" class="alert alert-warning" th:errors="*{pesel}"></div>
        </div>


        <br>
        <h4>Your addresses (permanent/residential/correspondence):</h4>

        <div th:object="${addressListForm}">
            <tr th:each="addressCreationDTO, itemStat : *{addressDTOList}">
                <br>
                <label>City</label>
                <input th:field="*{addressDTOList[__${itemStat.index}__].city}" class="form-control mb-4 col-4"/>

                <label>Street</label>
                <input th:field="*{addressDTOList[__${itemStat.index}__].street}" class="form-control mb-4 col-4"/>

                <label>House number</label>
                <input th:field="*{addressDTOList[__${itemStat.index}__].houseNr}" class="form-control mb-4 col-4"/>

                <label>Postal code</label>
                <input th:field="*{addressDTOList[__${itemStat.index}__].postalCode}" class="form-control mb-4 col-4"/>

                <div th:if="${#fields.hasAnyErrors()}" class="alert alert-warning">
                    <span>Please, provide all required Addresses attributes.</span>
                </div>
        </div>
        <button type="submit" class="btn btn-info col-1">Register</button>
    </form>

</div>
</body>
</html>