<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/head :: headPart"></div>
</head>
<body>
<div th:replace="fragments/nav :: navbar"></div>
<div class="container">
    <br>
    <h2>Update Student</h2>
    <br>
    <h4>Your identities:</h4>
    <br>
    <form th:action="@{'/student/updateStudent/' + ${id}}" th:object="${studentDTOForm}" method="POST">

        <label>Your first name:</label>
        <input type="text" th:field="*{firstName}" name="firstName"
               class="form-control mb-4 col-4"/>
        <div th:fragment="validation-error">
            <div th:if="${#fields.hasErrors('firstName')}" class="alert alert-warning" th:errors="*{firstName}"></div>
        </div>

        <label>Your middle name (not required):</label>
        <input type="text" th:field="*{middleName}" name="middleName" class="form-control mb-4 col-4"/>
        <div th:fragment="validation-error">
            <div th:if="${#fields.hasErrors('middleName')}" class="alert alert-warning" th:errors="*{middleName}"></div>
        </div>

        <label>Your last name:</label>
        <input type="text" th:field="*{lastName}" name="lastName" class="form-control mb-4 col-4"/>
        <div th:fragment="validation-error">
            <div th:if="${#fields.hasErrors('lastName')}" class="alert alert-warning" th:errors="*{lastName}"></div>
        </div>

        <label>Your pesel:</label>
        <input type="number" th:field="*{pesel}" name="pesel" class="form-control mb-4 col-4"/>
        <div th:fragment="validation-error">
            <div th:if="${#fields.hasErrors('pesel')}" class="alert alert-warning" th:errors="*{pesel}"></div>
            <div th:if="${peselDateExc}" th:text="${peselDateExc}" class="alert alert-warning"></div>
        </div>

        <label>Date of your birth:</label>
        <input type="date" th:field="*{dob}" name="dob" class="form-control mb-4 col-4"/>
        <div th:fragment="validation-error">
            <div th:if="${#fields.hasErrors('dob')}" class="alert alert-warning" th:errors="*{dob}"></div>
            <div th:if="${youthExc}" th:text="${youthExc}"  class="alert alert-warning"></div>
        </div>
        <button type="submit" class="btn btn-info col-1">Update</button>
    </form>
</div>
</body>
</html>


<!--        <br>-->
<!--        <h4>Your addresses (permanent/residential/correspondence):</h4>-->

<!--        <div th:object="${addressListForm}">-->
<!--            <tr th:each="addressCreationDTO, itemStat : *{addressDTOList}">-->
<!--                <br>-->
<!--                <label>City</label>-->
<!--                <input th:field="*{addressDTOList[__${itemStat.index}__].city}" class="form-control mb-4 col-4"/>-->
<!--                <div th:if="${#fields.hasErrors('addressDTOList[__${itemStat.index}__].city')}" class="alert alert-warning"-->
<!--                     th:errors="*{addressDTOList[__${itemStat.index}__].city}"></div>-->

<!--                <label>Street</label>-->
<!--                <input th:field="*{addressDTOList[__${itemStat.index}__].street}" class="form-control mb-4 col-4"/>-->
<!--                <div th:if="${#fields.hasErrors('addressDTOList[__${itemStat.index}__].street')}" class="alert alert-warning"-->
<!--                     th:errors="*{addressDTOList[__${itemStat.index}__].street}"></div>-->

<!--                <label>House number</label>-->
<!--                <input th:field="*{addressDTOList[__${itemStat.index}__].houseNr}" class="form-control mb-4 col-4"/>-->
<!--                <div th:if="${#fields.hasErrors('addressDTOList[__${itemStat.index}__].houseNr')}" class="alert alert-warning"-->
<!--                     th:errors="*{addressDTOList[__${itemStat.index}__].houseNr}"></div>-->

<!--                <label>Postal code</label>-->
<!--                <input th:field="*{addressDTOList[__${itemStat.index}__].postalCode}" class="form-control mb-4 col-4"/>-->
<!--                <div th:if="${#fields.hasErrors('addressDTOList[__${itemStat.index}__].postalCode')}" class="alert alert-warning"-->
<!--                     th:errors="*{addressDTOList[__${itemStat.index}__].postalCode}"></div>-->
<!--            </tr>-->
<!--        </div>-->